{{#if posts.length}}
    </div>

    {{#each posts as |post|}}
        {{> post-info post}}
        
            <a href="/dashboard/edit/{{post.id}}"><button>edit post</button></a>
        </div>
    {{/each}}

{{else}}
<h6>you do not currently have any posts</h6>

{{/if}}