{{#if book.length}}
    </div>

    {{#each book as |book|}}
        {{> book}}
        
            <a href="/dashboard/edit/{{book.id}}"><button>edit post</button></a>
        </div>
    {{/each}}

{{else}}
<h6>you do not currently have any posts</h6>

{{/if}}